name: Deploy to AWS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Docker
        run: |
          docker build -t insar-demo .

      - name: Tag
        run: |
          IMAGE_URI=$(aws ecr describe-repositories --repository-names insar-demo --query "repositories[0].repositoryUri" --output text)
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
          docker tag insar-demo:latest $IMAGE_URI:latest

      - name: Push to ECR
        run: |
          docker push ${{ env.IMAGE_URI }}:latest

      - name: Terraform Init
        working-directory: infra
        run: terraform init

      - name: Terraform Apply
        working-directory: infra
        run: terraform apply -auto-approve
